[Unit]
Description=Local backup timer
After=local-fs.target

[Timer]
OnCalendar=*-*-* 3:00:00
Persistent=false
Unit=backup-snapshots.service

[Install]
WantedBy=timers.target
