[Unit]
Description=Dropbox file synchronisation app

[Service]
Type=simple
ExecStart=/usr/bin/env "%h/.dropbox-dist/dropboxd"
ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=no
