[Unit]
Description=Duplicity Backup Timer

[Timer]
OnCalendar=*-*-* 4:00:00
Persistent=true
RandomizedDelaySec=10m
Unit=duplicity.service

[Install]
WantedBy=timers.target
