[Unit]
Description=Mailbox Syncronisation Service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -c "/home/gideon/.config/isync/mbsyncrc" -a
ExecStartPost=/usr/bin/notmuch new
